<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.notice.service.NoticeMapper">
	<select id="noticeSelectList" 
		resultType="co.micol.notice.service.NoticeVO">
		SELECT * FROM NOTICE
	</select>
	<select id="noticeSelect"
		parameterType="co.micol.notice.service.NoticeVO" 
		resultType="co.micol.notice.service.NoticeVO">
		SELECT * FROM NOTICE
		WHERE NOTICE_ID = #{noticeId}
	</select>
	<insert id="noticeInsert"
		parameterType="co.micol.notice.service.NoticeVO">
		INSERT INTO NOTICE
		VALUES(#{noticeId},#{noticeWriter},#{noticeTitle},#{noticeSubject},#{noticeWdate},0)
	</insert>
	<update id="noticeUpdate">
	
	</update>
	<delete id="noticeDelete">
		DELETE FROM NOTICE
		WHERE NOTICE_ID = #{noticeId}
	</delete>
</mapper>