<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.notice.product.service.ProductMapper">
	<select id = "productSelectList" resultType="co.micol.notice.product.service.ProductVO">
		SELECT * FROM PRODUCT
	</select>
	<select id = "productSelect" resultType="co.micol.notice.product.service.ProductVO">
		SELECT * FROM PRODUCT WHERE PRODUCT_ID = #{productId}
	</select>
	<insert id = "productInsert">
		INSERT INTO PRODUCT VALUES(#{productId},#{productName},#{productImg},#{productDir})
	</insert>
	<update id = "productUpdate">
	
	</update>
	<delete id = "productDelete">
	
	</delete>
	
</mapper>